smolagents[litellm]~=1.16.1
huggingface-hub~=0.32.2
python-certifi-win32~=1.6.1
duckduckgo-search~=8.0.2
langchain-ollama~=0.3.3
langchain-chroma~=0.2.4
langchain_text_splitters~=0.3.8
langgraph~=0.4.7
ollama~=0.5.1
dotenv~=0.9.9
requests~=2.32.3
